.svg-Speed_icon-dims {
    width: 45px;
    height: 40px;
}

.svg-arrow-dims {
    width: 40px;
    height: 40px;
}

.svg-arrow-cat-dims {
    width: 44px;
    height: 52px;
}

.svg-plus-dims {
    width: 24px;
    height: 24px;
}

.svg-prod-1-dims {
    width: 40px;
    height: 40px;
}

