.svg-Speed_icon-dims {
    width: 45px;
    height: 40px;
}

.svg-arrow-dims {
    width: 40px;
    height: 40px;
}

.svg-arrow-cat-dims {
    width: 44px;
    height: 52px;
}

.svg-arrow-decoration-dims {
    width: 245px;
    height: 107px;
}

.svg-arrow-link-dims {
    width: 40px;
    height: 40px;
}

.svg-burger-ico-dims {
    width: 49px;
    height: 48px;
}

.svg-download-dims {
    width: 24px;
    height: 24px;
}

.svg-plus-dims {
    width: 24px;
    height: 24px;
}

.svg-prod-1-dims {
    width: 40px;
    height: 40px;
}

