<!doctype html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--Libs-->
    <link rel="stylesheet" href="css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"
        integrity="sha256-2Pmvv0kuTBOenSvLm6bvfBSSHrUJ+3A7x6P5Ebd07/g=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.css"
        integrity="sha512-OTcub78R3msOCtY3Tc6FzeDJ8N9qvQn1Ph49ou13xgA9VsH9+LRxoFU6EqLhW4+PKRfU+/HReXmSZXHEkpYoOA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!--Libs-->
    <link rel="stylesheet" href="css/main.css">
    <script src="./js/vue.js"></script>
    <script src="./js/slider_portfolio.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <title>Ready Solutions</title>
</head>

<body>
    <header>
        <div class="container-rs">
            <div class="row d-flex align-items-center">
                <div class="col-3">
                    <a href="/rs/public" class="header-logo">
                        <figure>
                            <img src="imgs/logo.svg" alt="logo">
                        </figure>
                    </a>
                </div>
                <div class="col-8">
                    <ul class="header-menu">
                        <li>
                            <a href="" text="О компании">О компании</a>
                        </li>
                        <li>
                            <a href="" text="Товары и услуги">Товары и услуги</a>
                        </li>
                        <li>
                            <a href="" text="Производство">Производство</a>
                        </li>
                        <li>
                            <a href="" text="Объекты">Объекты</a>
                        </li>
                        <li>
                            <a href="" text="Контакты">Контакты</a>
                        </li>
                    </ul>
                </div>
                <ul class="header-lang">
                    <li>
                        <a href="/rs/public" text="Рус">
                            Рус
                        </a>
                    </li>
                    <li>
                        <a href="/kz/" text="Қаз">
                            Қаз
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>

    <div class="container-rs">
        <div class="breadcrumbs">
            <ul class="breadcrumbs-list">
                <li><a href="#" class="breadcrumbs-item">Главная</a></li> /

                <li><a href="#" class="breadcrumbs-item breadcrumbs-item--active">Объекты</a></li>
            </ul>
        </div>
        <h1 class="title-inner--default title-inner--relative">
            Портфолио <br>
            компании
        </h1>

        <div class="portfolio_top">
            <a href="" class="download_btn">
                Скачать полное портфолио
            </a>
            <div class="portfolio_top-text">
                <div class="item">
                    Заводы производственного объединения реализовали
                    более 1000 объектов.
                </div>
                <div class="item">
                    Качественный уровень нашей работы подтверждается доверием клиентов.
                </div>
            </div>
        </div>

        <div id="portfolio_app">
            <div class="portfolio_app-list">
                <div class="item" v-for="(item, id) in elementList" :key="id" v-show="showIndex == id">
                    <div class="item-top">
                        <h2>{{item.title}}</h2>
                        <h3>{{item.subtitle}}</h3>
                        <div class="app_btns">
                            <div @click="prevElemnt" text="Предыдущий объект" class="btn_app btn_app--prev"></div>
                            <div @click="nextElement" text="Следующий объект" class="btn_app"></div>
                        </div>
                    </div>

                    <div class="item-imgs owl-carousel owl-theme">

                        <div class="item-img" v-for="(img, i) in item.imgsListSrc">
                            <img :src="img" alt="">
                        </div>
                    </div>
                    <div class="item-adv">
                        <div class="item" v-for="i in item.advList">
                            <h4>
                                {{i.title}}
                            </h4>
                            {{i.text}}
                        </div>
                    </div>
                    <div class="item-steps">
                        <div class="item" v-for="step in item.resultList">
                            <h4>
                                {{step.title}}
                            </h4>
                            <div class="text">
                                <p v-html="step.text"></p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="portfolio_bottom">
                <div class="app_btns">
                    <div @click="prevElemnt" text="Предыдущий объект" class="btn_app btn_app--prev"></div>
                    <div @click="nextElement" text="Следующий объект" class="btn_app"></div>
                </div>
                <a href="#" class="btn-default" id="">
                    <span text="Интересует подобное">
                        Интересует подобное
                    </span>
                </a>
            </div>
        </div>
    </div>
    <footer>
        <div class=" container-rs">
            <div class="row">
                <div class="col-6 footer-menu">
                    <ul>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Услуги
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Производство
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                О компании
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Услуги
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Производство
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-6 footer-social">
                    <ul>
                        <li>
                            <a href="tel:+7 707 710 10 17">+7 707 710 10 17</a>
                        </li>
                        <li>
                            <a href="mailto:office@ant-pro.kz">office@ant-pro.kz</a>
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <a href="">
                                instagram
                            </a>
                        </li>
                        <li>
                            <a href="">
                                facebook
                            </a>
                        </li>
                        <li>
                            <a href="">
                                youtube
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer-copy">
                © 2023. ТОО «Производственное объединение Готовое решение – Ready Solution». Все права
                защищены
            </div>
        </div>
    </footer>
</body>

</html>