:root {
  --index: calc(1vh + 1vw);
  --col-rs: calc((1 / 12) * 100%);
  --container-rs: calc(100% - var(--col-rs));
  --header-height: calc(var(--index) * 2);
  --size16: calc((100vw - 1280px) / (2560 - 1280) * (26 - 16) + 16px);
  --size20: calc((100vw - 1280px) / (2560 - 1280) * (30 - 20) + 20px);
  --size24: calc((100vw - 1280px) / (2560 - 1280) * (48 - 24) + 24px);
  --size225: calc((100vw - 375px) / (2560 - 375) * (225 - 48) + 48px);
  --size42: calc((100vw - 375px) / (1320 - 375) * (42 - 35) + 35px);
  --size60: calc((100vw - 1280px) / (2560 - 1280) * (120 - 60) + 60px);
  --size40: calc((100vw - 1280px) / (2560 - 1280) * (60 - 40) + 40px);
  --size120: calc((100vw - 390px) / (2560 - 390) * (120 - 60) + 60px);
  --size12: calc((100vw - 390px) / (2560 - 390) * (12 - 12) + 12px);
  --size14: calc((100vw - 390px) / (2560 - 390) * (16- 14) + 14px);
  --size18: calc((100vw - 390px) / (2560 - 390) * (22 - 18) + 18px);
  --size36: calc((100vw - 390px) / (2560 - 390) * (36 - 24) + 24px);
}
body {
  overflow-x: hidden;
  color: #666;
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 350;
  line-height: 24px; /* 150% */
}
p {
  color: #666;
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 350;
  line-height: 24px; /* 150% */
}
figure {
  margin: 0;
}
.btn-arr {
  mask: url("../imgs/arr-s.svg") center/cover no-repeat;
  background: #000;
  width: 52px;
  height: 52px;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: 0.3s all;
  cursor: pointer;
  &.btn-arr--prev {
    transform: rotate(-180deg);
    opacity: 0.25;
    &.active {
      opacity: 1;
    }
  }
  &:focus {
    outline: none;
  }
  &:hover {
    background: #f1b705;
    opacity: 1;
  }
}
.btn-open {
  padding: 10px;
  box-sizing: border-box;
  background: url("../imgs/icons/plus.svg") center no-repeat;
  background-size: 24px 24px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  outline: none;
  transition: 0.3s all;
  cursor: pointer;
  &:hover {
    transform: rotate(180deg);
    background: url("../imgs/icons/plus.svg") center no-repeat,
      rgba(0, 0, 0, 0.1);
  }
  &:focus {
    outline: none;
  }
}
.close {
  background: url("../imgs/icons/plus.svg") center no-repeat;
  width: 44px;
  height: 44px;
  opacity: 1;
}
header {
  padding-top: 36px;
  padding-bottom: 36px;
}
.container-rs {
  width: var(--container-rs);
  margin: 0 auto;
  overflow: hidden;
}
.section-title {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: var(--size60);
  font-style: normal;
  font-weight: 600;
  line-height: 92%;
  letter-spacing: -1.2px;
  margin-bottom: 100px;
}
.btn-default {
  color: rgba(0, 0, 0, 0.75);
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 450;
  line-height: 150%;
  display: block;
  width: max-content;
  border-radius: 56px;
  background: #f1b705;
  padding: 0;
  outline: none;
  border: none;
  overflow: hidden;
  transition: 0.3s all;
  text-decoration: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
  span {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 450;
    line-height: 150%;
    position: relative;
    display: block;
    padding: 14px 32px;
    box-sizing: border-box;
    transition: 0.3s all;
    &:after {
      content: attr(text);
      position: absolute;
      left: 32px;
      top: calc(100% + 14px);
    }
  }
  &:hover {
    text-decoration: none;
    border-radius: 56px;
    background: #fbcb37;
    box-shadow: 0px 24px 32px -20px rgba(241, 183, 5, 0.75);
    span {
      transform: translateY(-100%);
    }
  }
}

.default-link {
  color: #000;
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  position: relative;
  display: block;
  width: max-content;
  &:after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    background: #000;
    transition: 0.3s all;
  }
  &:hover {
    color: #000;
    text-decoration: none;
    &:after {
      transform: translateX(-100%);
    }
  }
}
.btn-transparent {
  padding: 13px 32px;
  border: 1px solid #000;
  display: block;
  background: transparent;
  border-radius: 56px;
  width: max-content;
  outline: none;
  overflow: hidden;
  text-decoration: none;
  span {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 450;
    display: block;
    padding: 0;
    transition: 0.3s all;
    position: relative;
    &:after {
      content: attr(text);
      position: absolute;
      top: 200%;
      left: 0;
    }
  }
  &:hover {
    text-decoration: none;
    span {
      transform: translateY(-200%);

      &:after {
      }
    }
  }
}
.header-logo {
  display: block;
  img {
    height: 100%;
    width: calc(var(--index) * 5);
    object-fit: contain;
  }
}
.header-menu {
  display: flex;
  align-items: center;
  gap: calc(var(--index) * 2.6);
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    overflow: hidden;
    position: relative;
    &:before {
      content: "";
      display: block;
      background: #f1b705;
      width: 40px;
      height: 4px;
      position: absolute;
      left: -100%;
      top: calc(100% - 4px);
      transform: scaleX(0);
      transition: 0.3s all;
    }

    &:hover {
      &:before {
        transform: scaleX(1);
        left: 0;
      }
    }
    a {
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 450;
      line-height: 36px;
      position: relative;
      transition: 0.3s all;
      display: block;
      &:after {
        content: attr(text);
        position: absolute;
        left: 0;
        top: 100%;
      }
      &:hover {
        transform: translateY(-100%);
        text-decoration: none;
      }
    }
    &.active {
      &:before {
        transform: scaleX(1);
        left: 0;
      }
    }
  }
}

.header-lang {
  display: flex;
  align-items: center;
  gap: calc(var(--index) * 0.5);
  width: calc(calc(1 / 12) * 100%);
  padding: 0;
  margin: 0;
  li {
    list-style: none;
    overflow: hidden;
    position: relative;
    display: flex;
    gap: 16px;
    align-items: center;
    &:after {
      content: "";
      display: block;
      width: 1px;
      height: 26px;
      background: rgba(0, 0, 0, 0.1);
    }
    &:last-child {
      gap: 0;
      &:after {
        display: none;
      }
      &:before {
        max-width: 100%;
      }
    }
    &:before {
      content: "";
      display: block;
      height: 4px;
      display: block;
      background: #f1b705;
      position: absolute;
      top: calc(100% - 4px);
      width: 100%;
      transform: scaleX(0);
      left: -100%;
      transition: 0.3s all;
      max-width: 80%;
    }
    &:hover {
      &:before {
        transform: scaleX(1);
        left: 0%;
      }
    }
    a {
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 450;
      line-height: 36px;
      display: block;
      position: relative;
      transition: 0.3s all;
      &:after {
        content: attr(text);
        position: absolute;
        left: 0;
        top: 100%;
      }
      &:hover {
        transform: translateY(-100%);
      }
    }
  }
}

.main_banner {
  .container-rs {
    overflow: hidden;
  }
  .main_banner-subtitle {
    padding-top: calc(116px - 36px);
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
    width: calc((3 / 12) * 100%);
    margin-bottom: 40px;
  }
  .main_banner-title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: var(--size225);
    font-style: normal;
    font-weight: 600;
    line-height: 92%;
    display: block;
    margin-bottom: calc((var(--index) * 3.8));
  }
  .main_banner-btns {
    display: flex;
    align-items: flex-end;
    top: 100%;
    justify-content: space-between;
    width: calc(((10 / 12) * 100%) - var(--col-rs) / 1.2);

    .main_banner-btns--wrapper {
      width: calc((5 / 9) * 100%);
      gap: calc(var(--index) / 1.6);
    }
    .main_banner-text {
      width: calc(((3 / 9) * 100%) + var(--index) / 1.6);
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 150%;
    }
  }
  .main_banner-image {
    width: calc((7 / 12) * 100%);
    position: absolute;
    top: 0;
    right: calc(0% - (var(--col-rs)));
    z-index: -1;
    background: url("../imgs/main-banner.svg") left top no-repeat;
    height: 100%;
    img,
    object {
      width: 100%;
      height: calc((var(--index) * 26.5));
    }
  }
}

.adv {
  padding-top: 160px;
  padding-bottom: 160px;
  .adv-list {
    display: flex;
    gap: calc(var(--index) / 1.6);
    flex-wrap: wrap;
    justify-content: space-between;
    .adv-item {
      width: calc(((3 / 12) * 100%) - var(--index) / 1.6);
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 150%; /* 150% */
      object {
        max-width: 45px;
        margin-bottom: 24px;
      }
    }
  }
}

.categories {
  padding-bottom: 120px;
  .categories-image {
    figure {
      position: relative;
      height: calc((var(--index) * 24.5));
      width: calc((var(--index) * 23));
      img {
        height: 100%;
      }
      &:after {
        content: "";
        display: block;
        background: url("../imgs/icons/categories-after.svg") left/cover
          no-repeat;
        width: calc((var(--index) * 8.5));
        height: calc((var(--index) * 5.4));
        position: absolute;
        top: 0;
        right: 0;
        transform: translateX(50%);
        mix-blend-mode: multiply;
      }
    }
  }
  .categories-elements {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    .categories-menu {
      padding: 0 0 0 44px;
      margin: 0 0 80px 0;
      display: flex;
      flex-wrap: wrap;

      li {
        list-style: none;
        display: flex;
        gap: 6px;
        overflow: hidden;
        &:after {
          content: "";
          display: block;
          width: 44px;
          height: 52px;
          mask: url("../imgs/arrow-cat.svg") center no-repeat;
          background: #000;
          transition: 0.3s all;
        }
        &:hover {
          a {
            color: #f1b705;
            transform: translateY(-120%);
          }
          &:after {
            transform: translateX(6px);
            background: #f1b705;
          }
        }
        a {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: var(--size40);
          font-style: normal;
          font-weight: 600;
          line-height: 52px;
          letter-spacing: -0.8px;
          transition: 0.3s all;
          position: relative;
          white-space: nowrap;
          &:after {
            content: attr(text);
            position: absolute;
            left: 0;
            top: 120%;
          }
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
  .categories-description {
    color: rgba(0, 0, 0, 0.75);
    leading-trim: both;
    text-edge: cap;
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 150%; /* 150% */
    width: 50%;
    padding-left: 44px;
  }
}

.projects {
  padding-bottom: 200px;
  .projects-list {
    position: relative;
    .projects-item {
      display: flex;
      cursor: pointer;
      border-bottom: 1px solid #000;
      padding: 32px 0;
      box-sizing: border-box;
      .item-col {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 350;
        line-height: 24px; /* 171.429% */
        &:first-child {
          width: calc((4 / 12) * 100%);
        }
        &:nth-child(2) {
          width: calc((2 / 12) * 100%);
        }
        &:nth-child(3) {
          width: calc((5 / 12) * 100%);
        }
        &:last-child {
          width: calc((1 / 12) * 100%);
          display: flex;
          justify-content: flex-end;
        }
        .item-title {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: var(--size24);
          font-style: normal;
          font-weight: 600;
          line-height: 120%; /* 28.8px */
          letter-spacing: -0.48px;
          margin-bottom: 23px;
        }
        .item-count {
          color: rgba(0, 0, 0, 0.1);
          font-family: Montserrat, sans-serif;
          font-size: var(--size40);
          font-style: normal;
          font-weight: 400;
          line-height: 40px; /* 100% */
          letter-spacing: 4px;
          transition: 0.3s all;
        }
        a {
          color: #000;
          font-family: Inter, sans-serif;
          font-size: var(--size16);
          font-style: normal;
          font-weight: 450;
          line-height: 20px; /* 125% */
          text-decoration: underline;
          display: block;
          margin-top: 16px;
        }
      }
      .arrow {
        object,
        svg {
          stroke: #000;
          width: 40px;
          height: 40px;
          transition: 0.3s all;
        }
      }
      &:hover {
        .arrow {
          svg {
            transform: rotate(45deg);
            stroke: #f1b705;
          }
        }
        .item-col {
          .item-count {
            color: #f1b705;
          }
        }
      }
      &:last-child {
        border-bottom: none;
        margin-bottom: 60px;
      }
    }
  }
}

#projects-frame {
  display: block;
  width: 464px;
  height: 272px;
  background-size: contain;
  position: absolute;
  z-index: 500;
  transform: scale(0) translate(-0%, -100%);
  transform-origin: 0% 0%;
  video {
    width: 100%;
  }
}

.frame-animate {
  transform: scale(1) translate(-0%, -100%) !important;
}

.production {
  padding-bottom: 200px;
  .production-elements {
    &:after {
      content: "";
      display: block;
      background: url("../imgs/prod-before.svg") center/contain no-repeat;
      width: calc((var(--index) * 6.8));
      height: calc((var(--index) * 7.8));
      margin-left: calc(var(--col-rs));
    }
    .production-row {
      display: flex;
      justify-content: space-between;
      margin-bottom: calc(var(--index) / 1.6);
      &:last-child {
        align-items: flex-end;
      }
      .production-text {
        width: calc((3 / 12) * 100%);
        color: rgba(0, 0, 0, 0.75);
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 24px; /* 150% */
        a {
        }
        p {
          margin-bottom: 60px;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .production-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: calc(var(--index) / 1.6);
        width: calc((8 / 12) * 100%);
        .production-item {
          padding: 32px;
          box-sizing: border-box;
          background: rgba(0, 0, 0, 0.06);
          color: rgba(0, 0, 0, 0.5);
          font-family: Inter, sans-serif;
          font-size: var(--size16);
          font-style: normal;
          font-weight: 350;
          line-height: 24px; /* 150% */
          min-height: calc((var(--index) * 21.1));
          display: flex;
          flex-direction: column;
          svg,
          object,
          img {
            stroke: #f1b705;
            width: calc((var(--index) * 2.3));
            height: calc((var(--index) * 2.3));
          }
          h2 {
            margin-top: auto;
            color: #000;
            font-family: Montserrat, sans-serif;
            font-size: var(--size20);
            font-style: normal;
            font-weight: 600;
            line-height: 120%; /* 24px */
            letter-spacing: -0.4px;
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
.steps {
  position: relative;

  .container-rs {
    overflow: visible;
  }
  .steps-count_list {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    left: calc(var(--col-rs) * 4);
    background: url("../imgs/steps_bg.png");
    background-repeat-y: no-repeat;
    background-position-y: calc(100% - 50px);
    .steps-count_item {
      position: relative;
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 80px;
      font-style: normal;
      font-weight: 400;
      line-height: 100%;
      display: flex;
      align-items: flex-start;
      &:after {
        content: "";
        display: block;
        width: 2px;
        background: #000;
        height: 413px;
        margin-left: auto;
      }
      &:last-child {
        &:after {
          display: none;
        }
      }
      sub {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 200%;
        letter-spacing: 0.6px;
        text-transform: uppercase;
      }
    }
  }

  .steps-row {
    margin-bottom: 60px;
    .steps-elements {
      display: flex;
      align-items: flex-end;
      &:first-child {
        margin-bottom: 200px;
      }
      .steps-text {
        color: rgba(0, 0, 0, 0.75);
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 24px;
        width: calc((3 / 12) * 100%);
        h3 {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: var(--size20);
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          letter-spacing: -0.4px;
          margin-bottom: 40px;
        }
      }
      .steps-items_list {
        width: calc((8 / 12) * 100%);
        margin-left: calc(var(--col-rs));
        display: flex;
        gap: calc(var(--index) / 1.6);
        justify-content: space-between;
        .steps-item {
          border-radius: 56px;
          border: 1px solid rgba(0, 0, 0, 0.75);
          background: #fbcb37;
          backdrop-filter: blur(5px);
          color: rgba(0, 0, 0, 0.75);
          font-family: Inter, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 450;
          line-height: 24px;
          width: max-content;
          padding: 12px 32px;
        }
      }
    }
    &:last-child {
      .steps-elements {
        .steps-items_list {
          width: calc((4 / 12) * 100%);
          flex-wrap: wrap;
          justify-content: flex-start;
          position: relative;
          &:after {
          }
        }
      }
    }
  }
}

.top-section {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding-right: calc((var(--col-rs) * 1.9));
  margin-bottom: 100px;
  .section-title {
    margin-bottom: 0;
  }
  span {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 350;
    line-height: 200%;
  }
}

.projects-ready {
  padding-bottom: 160px;
  .slider-image {
    .item {
      img {
        width: 100%;
      }
    }
  }
}

.slider-text,
.top_inner_slider-text,
.footer_inner_slider-text {
  height: 100%;
  .footer_inner_slider-item {
    margin-top: auto;
  }
  .owl-stage-outer {
    height: 100%;
    padding-bottom: 60px;
    .owl-stage {
      display: flex;
      height: 100%;
    }
    .owl-item {
      margin-top: auto;
    }
  }
  .slider-item,
  .top_inner_slider-item,
  .footer_inner_slider-item {
    h2 {
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: var(--size24);
      font-style: normal;
      font-weight: 600;
      line-height: 120%;
      letter-spacing: -0.48px;
      margin-bottom: 16px;
    }
    a.default-link {
      margin-top: 60px;
    }
  }
}
.footer_inner_slider-text {
  display: flex;
  .footer_inner_slider-item {
    h2 {
      margin-bottom: 80px;
    }
    p {
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 24px; /* 150% */
    }
  }
}
.subslider-text {
  margin-top: 100px;
  color: rgba(0, 0, 0, 0.75);
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 350;
  line-height: 24px; /* 150% */
  a.default-link {
    margin-top: 16px;
    overflow: hidden;
  }
}

.tabs {
  .section-title {
    margin-bottom: 40px;
  }
  .tabs-list {
    margin-top: 80px;
    .tabs-item {
      cursor: pointer;
      overflow: hidden;
      &:last-child {
        .tabs-visible {
          border: none;
        }
      }
      .tabs-visible {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0;
        box-sizing: border-box;
        border-bottom: 1px solid #000;

        h3 {
          color: #000;
          font-family: Montserrat, sans-serif;
          font-size: 20px;
          font-style: normal;
          font-weight: 600;
          line-height: 120%;
          margin: 0;
          letter-spacing: -0.4px;
        }
      }
      .tabs-content {
        padding: 0;
        max-height: 0;
        transition: max-height 0.3s cubic-bezier(1, 0, 1, 0);
      }
      &.tabs-item--active {
        .tabs-content {
          padding: 30px 0;
          max-height: max-content;
        }
      }
    }
  }
}

footer {
  margin-top: 170px;
  padding: 80px 0;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.9);
}
.footer-menu {
  ul {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 24px;
    li {
      list-style: none;
      a {
        color: #fff;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.footer-social {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  ul {
    padding: 0;
    margin: 0;
    &:last-child {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
    li {
      list-style: none;
      margin-bottom: 24px;
      a {
        color: #fff;
        font-family: Inter, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 450;
        line-height: 24px;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
.footer-copy {
  color: rgba(255, 255, 255, 0.5);
  text-align: center;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  margin: 80px auto 0 auto;
}
.bounceInUp {
  animation-name: bounceInUp;
}
.bounceOutUp {
  animation-name: bounceOutUp;
}
.fadeOut {
  animation-name: fadeOut;
}

.breadcrumbs {
  margin-top: 100px;
  margin-bottom: 40px;
  .breadcrumbs-list {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 24px;
    li {
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 24px;
      list-style: none;
      .breadcrumbs-item {
        color: #000;
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 24px;
        &.breadcrumbs-item--active {
          color: rgba(0, 0, 0, 0.5);
        }
        &:hover {
        }
      }
      &.breadcrumbs-item--active {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 24px;
      }
    }
  }
}

.title-inner--default {
  color: #000;
  font-family: Montserrat, sans-serif;
  font-size: var(--size120);
  font-style: normal;
  font-weight: 600;
  line-height: 92%; /* 110.4px */
  letter-spacing: -2.4px;
  margin-bottom: 100px;
}

.top_inner_slider-image,
.footer_inner_slider_image {
  .item {
    img {
      width: 100%;
    }
  }
}

.about_info-list {
  margin-top: 160px;
  display: flex;
  margin-bottom: 100px;
  gap: 16px;
  .about_info-item {
    width: calc(var(--col-rs) * 3);
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 24px; /* 150% */
  }
}
.inner_title-section {
  color: rgba(0, 0, 0, 0.75);
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 350;
  line-height: 24px;
  margin-bottom: 80px;
}

.default_info-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 80px;
  .default_info-list--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 174px;
    width: calc(var(--col-rs) * 3);
    border-left: 1px solid #000;
    padding-left: 16px;
    gap: 60px;
    &:first-child,
    &:nth-child(5),
    &:nth-child(11) {
      border: none;
      padding-left: 0;
    }

    .item-title {
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: var(--size60);
      font-style: normal;
      font-weight: 400;
      line-height: 64px; /* 106.667% */
      position: relative;
      sup {
        position: absolute;
        top: 0;
        font-size: var(--size12);
        letter-spacing: 0.6px;
        text-transform: uppercase;
        padding-left: 8px;
      }
    }
    .item-text {
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 24px;
    }
  }
}

.info-box {
  width: calc(var(--col-rs) * 8);
  margin: 200px auto 200px auto;
  transform: translateX(var(--col-rs));
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  .info-box-text {
    width: calc(100% - (var(--col-rs) * 2));
    position: relative;
    &::before {
      content: "";
      display: block;
      background: url(../imgs/icons/categories-after.svg) right/contain
        no-repeat;
      width: calc(var(--index) * 4.5);
      height: calc(var(--index) * 3);
      position: absolute;
      top: 0;
      left: 0;
      transform: translateX(calc(-100% - calc(var(--col-rs) * 4)));
      mix-blend-mode: multiply;
    }
  }
  .info-box-title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: var(--size40);
    font-style: normal;
    font-weight: 600;
    line-height: 52px; /* 130% */
    letter-spacing: -0.8px;
    margin-bottom: 80px;
  }

  .info-box-description {
    width: 50%;
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 24px; /* 150% */
  }
}

.inner_banner,
.inner_banner--relative {
  transform: translateY(calc(-100px - (var(--index) * 4.7)));
  height: calc(var(--index) * 22);
  .inner_banner-text {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: calc(var(--col-rs));
  }
  .inner_banner-image {
    img {
      width: 100%;
      height: calc(var(--index) * 22);
      object-fit: cover;
    }
  }
  .inner_banner-title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: var(--size24);
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -0.48px;
    margin-bottom: 32px;
  }
  .inner_banner-nav {
    ul {
      padding: 0;
      margin: 0;
      li {
        list-style: none;
        margin-bottom: 16px;
        &:last-child {
          margin-bottom: 0;
        }
        a {
          text-decoration: none;
          border-bottom: 1px solid;
          color: rgba(0, 0, 0, 0.75);
          font-family: Inter, sans-serif;
          font-size: var(--size16);
          font-style: normal;
          font-weight: 450;
          line-height: 20px; /* 125% */
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}
.inner_banner--relative {
  transform: translateY(0);
}
.title-inner--relative {
  position: relative;
  z-index: 5;
  font-size: calc((100vw - 390px) / (2560 - 390) * (180 - 90) + 90px);
}

.section-title--40 {
  font-size: var(--size40);
  padding-left: calc(var(--col-rs));
}
.section-title--center {
  text-align: center;
  margin-top: 160px;
  padding-left: 0;
}
.services-section {
  margin-bottom: 200px;
  h2 {
    margin: 0 auto 160px auto;
  }
}

.services-description {
  margin-bottom: 160px;
  .services-description--title {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: var(--size40);
    font-style: normal;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: -0.8px;
  }
  .services-description--text,
  .services-description--text * {
    color: rgba(0, 0, 0, 0.75);
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 150%;
  }
}

.arrow-decoration {
  stroke: #000;
  transform: translateY(-50%);
}

.btn-default--center {
  margin: 0 auto;
}

.default-list--icon {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-bottom: 200px;
  gap: 16px;
  row-gap: 100px;
  .item {
    .icon {
      margin-bottom: 24px;
    }
    .title {
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: var(--size18);
      font-style: normal;
      font-weight: 600;
      line-height: 133.333%;
      letter-spacing: -0.36px;
      margin-bottom: 16px;
    }
    .text {
      overflow: hidden;
      color: rgba(0, 0, 0, 0.75);
      text-overflow: ellipsis;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 150%;
      height: 96px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      margin-bottom: 16px;
    }
    a.link {
      display: block;
      width: 40px;
      height: 40px;
      mask: url("../imgs/icons/arrow-link.svg") center/cover no-repeat;
      background-color: #000;
      transition: 0.3s all;
      &:hover {
        background-color: #f1b705;
      }
    }
  }
}

.factory-list {
  display: flex;
  flex-direction: column;
  .item {
    display: flex;
    display: grid;
    grid-template-columns: 50% calc(var(--col-rs) * 2) 1fr;
    padding: 32px 0;
    border-bottom: 1px solid #000;
    &:last-child {
      border-bottom: none;
    }
    .item-col {
      &.item-col--name {
        color: #000;
        font-family: Montserrat, sans-serif;
        font-size: var(--size18);
        font-style: normal;
        font-weight: 600;
        line-height: 133.333%;
        letter-spacing: -0.36px;
      }
      &.item-col--descr {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 150%; /* 150% */
      }
      &.item-col--adress {
        color: rgba(0, 0, 0, 0.5);
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 150%;
      }
    }
  }
}
.factory-list .item.item--two_col {
  grid-template-columns: 1fr 1fr;
}
.default-list--icon .item--accardeon--active .text {
  height: max-content;
  overflow: inherit;
  display: block;
}
.default-list--icon .item--accardeon--active .link {
  transform: rotate(-90deg);
  background-color: #f1b705 !important;
}

.default_info-list--panel {
  margin-top: 160px;
}

.catalog {
  margin-top: 160px;
}

.download-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #000;
  font-family: Inter, sans-serif;
  font-size: var(--size16);
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  overflow: hidden;
  span {
    display: flex;
    flex-direction: column;
    position: relative;
    transition: 0.3s all;
    &::after {
      content: attr(text);
      position: absolute;
      top: 100%;
    }
  }
  &:hover {
    text-decoration: none;
    span {
      transform: translateY(-100%);
      color: #000;
    }
  }
  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background: url("../imgs/icons/download.svg") center/cover no-repeat;
  }
}

.grey-section {
  background: #f5f5f5;
  padding: 100px 0px 170px 0px;
  margin-bottom: -170px;
  margin-top: 200px;
}

.form-footer,
.form_main {
  .form-group {
    position: relative;
    label {
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 24px; /* 150% */
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      transition: 0.3s all;
    }
    input {
      background: transparent;
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 350;
      line-height: 24px; /* 150% */
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      width: 100%;
      height: 52px;
    }
    &.focused {
      label {
        top: 0%;
        color: rgba(0, 0, 0, 0.5);
        font-size: var(--size12);
        font-style: normal;
        font-weight: 350;
        line-height: 16px; /* 133.333% */
      }
    }
  }
  .form-description {
    color: rgba(0, 0, 0, 0.5);

    display: block;
    font-family: Inter, sans-serif;
    font-size: var(--size12);
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
  }
  textarea {
    resize: none;
    width: 100%;
    height: 188px;
    margin-bottom: 40px;
    padding: 20px;
    border: 1px solid #000;
    color: #000;
    font-family: Inter, sans-serif;
    font-size: var(--size16);
    font-style: normal;
    font-weight: 350;
    line-height: 24px; /* 150% */
    &:focus,
    &:focus-visible {
      border: 1px solid #000;
      border-radius: 0;
      outline: none;
    }
  }

  .form-footer {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter, sans-serif;
    font-size: var(--size12);
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    input[type="file"] {
      display: none;
    }
    input[type="submit"],
    .submit {
      border-radius: 52px;
      background: #f1b705;
      border: none;
      outline: none;
      display: block;
      width: 100%;
      box-sizing: border-box;
      color: rgba(0, 0, 0, 0.75);
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 450;
      line-height: 24px; /* 150% */
      margin-bottom: 24px;
      overflow: hidden;
      cursor: pointer;
      span {
        padding: 14px 32px !important;
        padding: 0;
        display: block;
        &::after {
          right: 0;
          left: 0;
          text-align: center;
        }
      }
    }
    label[for="file"] {
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size16);
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 150% */
      margin-bottom: 40px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1024px) {
  header {
    .col-3 {
      width: 16.6%;
      max-width: 16.6%;
    }
  }
  .main_banner {
    .main_banner-btns {
      .main_banner-btns--wrapper {
        flex-direction: column;
        a {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  .header-menu {
    gap: calc(var(--index) * 1.5);
  }
  .header-lang li {
    gap: 8px;
  }
  .production {
    .production-elements {
      .production-row {
        .production-list {
          .production-item {
            padding: 20px;
          }
        }
      }
    }
  }
}
#main_form {
  background: #fff;
  width: calc(var(--col-rs) * 6);
  position: fixed;
  top: -500%;
  left: 50%;

  transform: translate(-50%, -50%);
  border-radius: 2px;
  overflow: hidden;
  transition: 0.3s all;
  z-index: 500;
  .btn-default {
    width: 100%;
    margin-top: 40px;
    text-align: center;
    span::after {
      text-align: center;
      left: 0;
      right: 0;
    }
  }
  .close {
    position: absolute;
    z-index: 20;
    top: 32px;
    right: 32px;
    transition: 0.3s all;
    outline: none;
    &:hover {
      transform: rotate(45deg);
    }
  }
  .form-info {
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-family: Inter, sans-serif;
    font-size: var(--size12);
    font-style: normal;
    font-weight: 400;
    line-height: 166.667%; /* 166.667% */
    margin-top: 24px;
  }
  .form-inputs {
    padding: 0;
    width: calc(50%);
  }
  .form-media {
    width: calc(50%);
    img {
      width: 100%;
    }
  }
  .form-inputs {
    padding: 80px 80px 0 80px;
    box-sizing: border-box;
    .form-title {
      color: #000;
      text-align: center;
      font-family: Montserrat, sans-serif;
      font-size: var(--size40);
      font-style: normal;
      font-weight: 600;
      line-height: 120%; /* 48px */
      letter-spacing: -0.8px;
    }
    .form-descr {
      color: rgba(0, 0, 0, 0.75);
      text-align: center;
      font-family: Inter, sans-serif;
      font-size: var(--size14);
      font-style: normal;
      font-weight: 350;
      line-height: 142.857%; /* 142.857% */
      margin-top: 32px;
      margin-bottom: 30px;
    }

    .form-group {
      position: relative;

      label {
        position: absolute;
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 150%; /* 150% */
      }
      input {
        outline: none;
        background: #fff;
        color: #000;
        font-family: Inter, sans-serif;
        font-size: var(--size16);
        font-style: normal;
        font-weight: 350;
        line-height: 150%; /* 150% */
      }
    }
  }
  .form-media {
    img {
      object-fit: contain;
    }
  }
}
#main_form.active {
  top: 50%;
  transform: translate(-50%, -50%);
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 400;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  height: 100vw;
}
.overlay.active {
  display: block;
}

.burger_menu {
  width: 75%;
  position: fixed;
  top: 0;
  right: -100%;
  bottom: 0;
  z-index: 500;
  background: #fff;
  padding: 60px 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: 0.3s all;
  &.active {
    right: 0;
  }
  .burger_menu-lang {
    display: flex;
    align-items: center;
    gap: calc(var(--index) * 1);
    a {
      color: #000;
      font-family: Inter, sans-serif;
      font-size: var(--size18);
      font-style: normal;
      font-weight: 600;
      line-height: 48px; /* 266.667% */
      &::after {
        content: "";
        display: block;
        background: #f1b705;
        height: 4px;
        width: 50%;
        transform: translate(-100%, -100%);
        transition: 0.3s all;
        opacity: 0;
      }
      &.active::after {
        transform: translate(0%, -100%);
        opacity: 1;
      }
      &:hover {
        text-decoration: none;
        &:after {
          transform: translate(0%, -100%);
          opacity: 1;
        }
      }
    }
  }
  .burger_menu-nav {
    margin-top: 10%;
    ul {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: calc(var(--index) * 1.5);
      li {
        list-style: none;
        overflow: hidden;
        a {
          color: #000;
          font-family: Inter, sans-serif;
          font-size: var(--size36);
          font-style: normal;
          font-weight: 600;
          line-height: 60px;
          &::after {
            content: "";
            display: block;
            background: #f1b705;
            height: 4px;
            width: 5%;
            transform: translate(-100%, -100%);
            transition: 0.3s all;
          }
          &.active::after {
            transform: translate(0%, -100%);
          }
          &:hover {
            text-decoration: none;
            &:after {
              transform: translate(0%, -100%);
            }
          }
        }
      }
    }
  }
  .close {
    width: calc(48px - 14px);
    height: calc(48px - 14px);
    padding: 14px;
    box-sizing: border-box;
    mask: url("../imgs/icons/plus.svg") center/cover no-repeat;
    background: #000;
    transform: rotate(45deg);
    position: absolute;
    top: 60px;
    right: 18px;
    transition: 0.3s all;
    &:hover {
      transform: rotate(-45deg);
    }
  }
}

.burger_menu--open {
  width: 48px;
  height: 48px;
  padding: 0;
  border: none;
  outline: none;
  position: absolute;
  right: 0;
  background: url(../imgs/icons/burger-ico.svg) center/cover no-repeat;
  display: none;
  cursor: pointer;
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 768px) {
  .burger_menu--open {
    display: block;
  }
  header {
    .col-8,
    .header-lang {
      display: none;
    }
    .header-logo img {
      width: calc(var(--index) * 8);
    }
  }
}
#popup_success {
  position: fixed;
  bottom: 0;
  right: -200%;
  padding: 20px;
  box-sizing: border-box;
  color: #000;
  background: #f1b705;
  border-radius: 25px;
  text-align: center;
  transition: 0.3s all;
  z-index: 600;
}
#popup_success.active {
  right: 0;
}
